
:root{
    --secondary-color:      #FFA300;
    --contrast-color:       #1f1f1f;
    --terciary-color:       #803C00;
    --main-color:           #25d7e4;
    --font-color:           #CCB51D;
}



*{
    padding:            0px;
    margin:             0px;
}
a{
    text-decoration:    none;
}
p{
    letter-spacing:     1px;
    word-spacing:       6px;
}

h1,h2,h3,p,a,li{
    letter-spacing:     3px;
    font-family:        "dragon";
    color:              rgb(215, 236, 255);
}

@font-face {
    font-family:        "dragon";
    src:                url("../fonts/dragon.ttf");
}

html{
    background-color: black;
}

#game{
    background-image:   url("../images/tileN1.jpg");
    position:           relative;
    border:             1px solid white;
    height:             2800px;
    width:              1200px;
    left:               5%;
}

.iconContainer{
    justify-content:    flex-start;
    padding-bottom:     2px;
    align-items:        center;
    display:            flex;
}
.icon{
    background-repeat:  no-repeat;
    background-size:    contain;
    height:             50px;
    width:              50px;
}
.mini{
    /* padding-right:  20px; */
    position:       relative;
    height:         30px;
    width:          30px;
    /* left:           -65px; */
}
.learning{
    background-image:   url("../icons/read.png");
}
.wizard{
    background-image:   url("../icons/wizard-staff-grey.png");
}

.torch{
    background-image:   url("../images/tileN5.jpg");
    visibility:         hidden;
    position:           absolute;
    z-index:            3999998;
    opacity:            0.6;
    height:             50px;
    width:              50px;
    left:               50px;
    top:                50px;
}

.torchFar{
    background-image:   url("../images/tileN4.jpg");
}

#checkPoint1{
    background-image:   url("../icons/torch-snuffed-stand.png");
    background-size:    contain;
    position:           absolute;
    z-index:            3999999;
    height:             50px;
    width:              50px;
    left:               500px;
    top:                250px;
}

#player{
    background-repeat:  no-repeat;
    background-image:   url("../icons/warrior.png");
    background-position: 5px;
    border-radius:      50% 50%;
    position:           relative;
    z-index:            4000000;
    height:             50px;
    width:              50px;
    left:               1150px;
    top:                250px;
}

#block{
    background-color: blue;
    position:           relative;
    height:             100px;
    width:              100px;
    left:               450px;
    top:                100px;
}

.Header{
    background-color: black;
    justify-content:    space-between;
    position:           relative;
    display:            flex;
    height:             200px;
    width:              1200px;
    color:              white;
    top:                -50px;
}

.Header img{
    border-radius:      5%;
    margin-left:        55px;
    margin-top:         10px;
    padding:            4px;
    border:             1px solid white;
    height:             90%;
}

.Header img+div{
    background-color:   var(--contrast-color);
    margin-bottom:      20px;
    margin-left:        50px;
    margin-top:         20px;
    border:             1px solid white;
    width:              550px;
    right:              25px;
}

.Header img+div>div{
    margin-left:        25px;
    padding-top:        10px;
}

.Header div>h1{
    padding-bottom:     10px;
    /* letter-spacing:     2px; */
    padding-top:        10px;
    margin-left:        20px;
    align-self:         flex-start;
}

.Tuto{
    background-color:   var(--contrast-color);
    margin-bottom:      20px;
    padding-left:       25px;
    margin-right:       25px;
    padding-top:        25px;
    margin-top:         20px;
    position:           relative;
    border:             1px solid white;
    width:              300px;
}

.Tuto div>div+h2{
    padding-left:       20px;
    position:           relative;
}

.teacher{
    background-image:   url("../icons/teacher.png");
}

.Comunicator{
    background-image:   url("../icons/public-speaker.png");
}

.FastLearner{
    background-image:   url("../icons/read.png");
}
.Creativity{
    background-image:   url("../icons/team-idea.png");
}
.Team{
    background-image:   url("../icons/three-friends.png");
}

.Movement{
    background-image:   url("../icons/keyboard.png");
}

.biceps{
    background-image:   url("../icons/biceps.png");
}

.Tuto p{
    position:           relative;
    left:               75px;
}

.Tuto p+p{
    padding-top:        10px;
    left:               5px;
}

.Header div>div+ul{
    list-style-type:    none;
    text-decoration:    none;
    margin-right:       25px;
    margin-left:        25px;
}

.Header div>h1+ul>li{
    padding-bottom:     15px;
    font-weight:        bolder;
    font-size:          medium;
}

.part1{
    position:           relative;
    display:            flex;
    width:              100%;
    top:                -50px;
}

#screen1{
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
    background-color: rgba(0,0,0,1);
    position:           absolute;
    display:            block;
    height:             1000px;
    width:              1200px;
    top:                200px;
}
@keyframes fade {
    from{background-color:  rgba(0,0,0,1)}
    to{background-color:    rgba(0,0,0,0)}
}

.blockRight{
    background-color:   black;
    position:           relative;
    width:              550px;
    left:               50px;
    top:                150px;
}

.blockRight div{
    padding-bottom:     15px;
    margin-bottom:      35px;
    padding-right:      45px;
    margin-right:       25px;
    padding-left:       85px;
    padding-top:        10px;
    margin-left:        25px;
    margin-top:         20px;
}
.blockRight :not(.MineroGif):not(.nube){   
    background-color:   var(--contrast-color);
    border:             1px solid white;
}
.nube{
    background-position-y:  -100px;
    background-repeat:      no-repeat;
    background-image:       url("../images/nube.png");
    background-size:        cover;
    position:               absolute;
    height:                 601px;
    width:                  501px;
    left:                   25px;
    top:                    283px;
}
.blockRight h2{
    text-decoration-thickness:  2px;
    text-decoration:            underline;
    padding-bottom:             20px;
    padding-left:               45px;
    padding-top:                20px;
    position:                   relative;
}

.blockRight h3{
    padding-bottom:     10px;
    padding-top:        15px;
}

.special{
    padding-bottom:     5px;
    padding-top:        16px;
}

.blockRight p{
    padding-bottom:     5px;
    padding-right:      40px;
    padding-left:       40px;
    padding-top:        15px;
}

.MineroGif{
    background-repeat:  no-repeat;
    background-image:   url("../images/MineroGif.gif");
    background-size:    cover;
    height:             500px;
    width:              369px;
}

.puertaDer{
    background-color:   black;
    position:           relative;
    height:             50px;
    width:              50px;
    left:               0px;
    top:                950px;
}

.puertaIzq{
    background-color:   black;
    position:           relative;
    height:             50px;
    width:              50px;
    left:               50px;
    top:                950px;
}

.Aptitudes{
    background-color:   black;
    padding-top:        20px;
    min-width:          500px;
    max-width:          500px;
    position:           relative;
    height:             980px;
    left:               0px;
}

.Aptitudes div.box{
    background-color:       var(--contrast-color);
    padding-bottom:         17px;
    margin-bottom:          5px;
    padding-right:          40px;
    padding-left:           40px;
    margin-right:           25px;
    padding-top:            25px;
    margin-left:            25px;
    border:                 1px solid white;
}

.Aptitudes div.iconContainer.h2{
    position:               relative;     
    left:                   50px;
}
.Aptitudes div.iconContainer.h3>h3{
    position:               relative;     
    left:                   10px;
}
.Aptitudes h2{
    text-decoration-thickness:  2px;
    text-decoration:            underline;
    padding-bottom:             20px;
    position:                   relative;
    left: 15px;
}

.Aptitudes h3{
    margin-bottom:      10px;
    padding-top:        20px;
}

.boldenThis{
    font-weight:    bolder;
    color:          var(--main-color);
}
p>span.boldenThis {
    font-weight:    bolder;
    color:          var(--secondary-color);
}
.parte2{
    display:        flex;
    height:         450px;
}

.P2bloqueIzqUp{
    background-color:   black;
    position:           relative;
    height:             250px;
    width:              350px;
    top:                50px;
}

.P2bloqueIzqDown{
    background-color:   black;
    position:           relative;
    height:             500px;
    width:              300px;
    left:               550px;
    top:                50px;
}
/* .thatColor{
    color:              var(--secondary-color);
} */